* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: var(--color-light-violet);
}

.App {
    font-family: var(--font-family);
    position: relative;
    display: block;
    margin: 20px auto;
    background-color: var(--color-light-text);
    width: 550px;
    height: 550px;
    border-radius: 5px;
}