@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --color-dark-violet: #293264;
  --color-light-violet : #4D5B9E;
  --color-light-text: #F5F7FB;
  --color-options-violet: #D6DBF5;
  --color-options-red: #F8BCBC;
  --color-options-right: #94D7A2;
}
